@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --subtitle-color: #909090;
}

body {
    background-color: #f2f2f2;
    overflow-x: hidden;
    font-family: 'Libre Franklin', sans-serif;
}

.navbar {
    box-shadow: 0px 2px 4px #d4d4d4;
}

.post {
    width: 1000px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 4px #d4d4d4;
    transform: translateX(-50px);
    opacity: 0;
    transition: transform 0.5s, opacity 0.5s;
}

.showPost {
    transform: translateX(0px);
    opacity: 1;
}

.title {
    font-weight: bold;
}

.subtitle {
    color: var(--subtitle-color);
    font-weight: 400;
}

.noMargin {
    margin: 0;
}

.subHeading {
    font-size: 1.2rem;
    font-weight: bold;
}

.artists>p {
    margin: 0;
}

.attendees>p {
    margin: 0;
    font-weight: 400;
}

.song p {
    margin: 0;
}

.gigImage {
    width: 100%;
    border-radius: 5px;
}

.t-input {
    transform-origin: bottom left;
    transition: all 0.5s;
}

.hideInput {
    opacity: 0;
    height: 0;
    margin: 0;
    pointer-events: none;
}